body{
  -webkit-print-color-adjust: exact;
  padding: 10px;
  margin:0;
}

.item_data {
    width: 70%;
    display:  inline-block;
}

.item_number {
    width: 26%;
    display: inline-block;
}


.printing_ticket{
    padding: 10px;
    background: #fff;
    border: 1px dashed #828282;
    margin-bottom: 10px;
}

.p_number {
    text-align:  center;
    padding: 0vh;
    font-size: 5vh;
}

.p_menu {
    padding: 10px;
    margin-top: 5px;
    background: rgb(253, 239, 233);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.item_note{
    margin-bottom: 20px;
}

#print_ticket_modal .modal-body {
    display: block;
    height: 73vh;
    overflow: auto;
    font-size: 2vh;
    background: #eef1f7;
    border: 1px solid #dbe1ed;
}

@media print {
  /* Here goes your print styles */
  @page {
      size: auto;   /* auto is the initial value */
      margin: 0;  /* this affects the margin in the printer settings */
      padding:60;
  }
  
}
