.tabs{
		background: #fff;
		padding: 20px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		margin: 0 10px 0 0;
		text-align: center;
		font-size: 16px;
	}

    a:last-child .tabs{
        margin-right: 0;
    }

	.box_info{
		background: #fff;
		padding: 20px 20px 0 20px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	}

	.setting_info{
		margin-top: 20px;
	}

	.input-group[class*=col-]{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

    .have_tax_container {
        padding: 7px 15px;
    }

    .in_progress {
	    padding: 20px;
	    text-align: center;
	}

	.table{
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.dir_table_thead.no_permission {
	    background: #e58686;
	    color: #fff;
	}

	.dir_table_thead.full_permission {
	    background: #61a27a;
	    color: #fff;
	}

	.add_permission {
    	color: #48815e;
    	cursor: pointer;
	}

	.add_permission:hover{
	    opacity:0.7;
	}


	.remove_permission{
		color:#f00;
		cursor: pointer;
	}

	.remove_permission:hover{
		opacity: 0.7;
	}

	.order_layout img {
	    width: 100%;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.border-right{
		border-right:1px solid #ccc;
	}

	.hint {
	    position: relative;
	}

	.hint:before{
	    content: '?';
	    position:absolute;
	    width: 1.45vw;
	    height: 1.5vw;
	    background: #3c5a99;
	    top: 0.2vw;
	    left: 11.6vw;
	    z-index: 99;
	    color: #fff;
	    text-align: center;
	}

	.hint:hover:before{
		opacity:0.7
	}

	


