a.button_show_invoice
{
    background-color: #3c5a99;
    border-color: #3c5a99;
    border-bottom: 3px solid #2a4377;
    padding: 3px 15px;
    color:#fff;
}

a.button_show_invoice:hover
{
    background-color: #3c5a99;
    opacity:0.8;
}

a.button_show_invoice:active:focus
{
    background-color: #2a4377;
    opacity:0.8;
}

a.button_show_invoice:active:hover
{
    background-color: #3c5a99;
    opacity:0.8;
    border-bottom: 2px solid #2a4377;
}

a.expand
{
    background-color: #3c5a99;
    border-bottom: 3px solid #2a4377;
    padding: 10px 10px;
    color:#fff;
    display:  block;
    text-align:  center;
}

a.expand:hover
{
    background-color: #2a4377;
    opacity:0.8;
    cursor: pointer;
}

a.expand:active:focus
{
    background-color: #4b6bae;
    opacity:0.8;
}

a.expand:active:hover
{
    opacity:0.8;
}
.name_of_company{
   margin-right: 10px;
}
.header{
    width: 20%;
    float: right;
    height: 200px;
}