*{
	margin: 0;
	padding:0;
}

a{
	color:#333;

}

a:hover{
	cursor: pointer;
	text-decoration: none;
}


/* scroll */
::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
    height: 10px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #8c963a;
    border-radius: 10px;
}

.category_data::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 5px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}
/* optional: show position indicator in red */
.category_data::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
}



.menu_data::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    height: 10px;
    display: block;
    background: transparent;
    border-radius: 10px;
}

.menu_data:hover::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: #d0d0d0;
}

/* optional: show position indicator in red */
.menu_data::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

#table_order_data::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
    height: 10px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}
/* optional: show position indicator in red */
#table_order_data::-webkit-scrollbar-thumb {
    background: #8c963a;
    border-radius: 10px;
}
/* end of scroll */



body{
	font-size: 15px;
	color: #231916;
	margin: 0;
	padding: 0;
	background: #F1F1F1;
}

.row{
	margin-left: 0;
	margin-right: 0;
}


.header
{
	background: #00a65a;
	padding: 20px 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:#fff;
	font-size:17px;
	margin-bottom: 20px;
}

.header .title{
	color:#fff;
	font-size: 18px;
	font-weight: normal;
}

.header .orderData{
	text-align: right;
}

.header .order_title{
	color:#fff;
}

.header .order_data{
	color:#252121;
}

.body
{
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding:10px;
	margin: 10px;

}

.customer_order{
	    margin: 0 20px;
	    padding: 0;
}

.customer_order table{
	width: 97%;
}

.customer_order th
{
	color:#fff;
	background: #00a65a;
	padding:10px 20px;
}

.customer_order tr:nth-child(even){
	background: #f1f1f1;
}

.customer_order td{
	padding: 10px;
}

.customer_order td:last-child{
	text-align: right;
}

.glyphicon-remove:hover{
	color:#f00;
	cursor: pointer;
}

.menuRotate{
	width: auto;
	padding: 0;
	/* text-transform:  uppercase; */
	font-size: 16px;
	/* font-weight: bold; */
}


.rotate{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	background: #D0D0D0;
	padding:10px;
	margin: 0px 0px 10px;
	border-radius: 5px;
	text-align: center;
}

.category{
	height: 125px;
	margin-bottom: 10px;
}

.subcategory{
	height: 125px;
	margin-bottom: 10px;
}

.menu{
	height: 359px;
	font-size: 16px;
}

.category_data {
    overflow: auto;
    white-space: nowrap;
}

.subcategory_data {
    overflow: auto;
    white-space: nowrap;
}

.menu_data {
	height: 360px;
	overflow-y: auto;
	border: 1px solid #ccc;
	transition: color 3s ease;
	padding: 10px;
}



.category_item
{
	/*background: #c8d655;*/
	width: 19%;
	padding: 6.9% 0;
	margin-bottom: 9px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 2px rgba(0,0,0,0.24);
	border:1px solid #ccc;
}

.subcategory_item
{
	/*background: #c8d655;*/
	width: 19%;
	padding: 6.9% 0;
	margin-bottom: 9px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 2px rgba(0,0,0,0.24);
	border:1px solid #ccc;
}

.menu_item{
	width: 19%;
	padding: 0 0;
	margin-bottom: 9px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 2px rgba(0,0,0,0.24);
	/* border:1px solid #ccc; */
	background: rgba(174, 195, 6, 0.3);
}

.menu_item:hover{
	opacity: 0.8;
}

.menu_item:active{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.category_item:hover{
	background:#c8d655;
	cursor: pointer;
}

.category_item:active{
	background:#c8d655;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.subcategory_item:hover{
	background:#c8d655;
	cursor: pointer;
}

.subcategory_item:active{
	background:#c8d655;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}





.clear
{
	 clear:both;
    line-height:0;
}

.menu_name{
	z-index: 1;
	margin: -25px 0px 0;
	white-space: nowrap;
	width: 118.469px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(0%, 0%);
	background: rgba(227, 233, 177, 0.85);
}

.menu_material{
	z-index: 1;
	margin: 0px 0px 0;
	white-space: nowrap;
	width: 118px;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:  center;
	transform: translate(0%, 0%);
	background: rgba(227, 233, 177, 0.85);
}

.menu_material:hover{
	cursor:pointer;
	background:#8c963a;
}

.active{
	background:#c8d655;
}

/* filter remove */
.remove_filter{
	background: #ec5050;
    color: #fff;
}


.menu_image{
	width: 100%;
	height: 31.8%;
	vertical-align: middle;
	border-radius: 5px;
	object-fit: contain;
}



.none{
	display: none;
}

.total_amount{
	font-size: 20px;
	text-align: right;
	background: #e6e6e6;
	padding: 10px;
}

.total_title{
}

#order_total{
	color:green;
}



.customer_order tbody#table_order_data {
    display:block;
    height: 400px;
    overflow:auto;
}
.customer_order #table_order thead, .customer_order tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.customer_order #table_order th:nth-of-type(1),.customer_order #table_order td:nth-of-type(2) {
    width: 40%;
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Button */
.operation_button{
	
padding: 30px 0;
}

.item{
	border-radius: 100%;
	background: #ccc;
	margin: 10px;
	padding: 20px 10px;
	height: 80px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: 1px solid #989696;
}

.item:hover{
	opacity:.7;
	cursor:pointer;
}

.exit .item:hover{
	background:#d8474c;
}

.button{
  width: 20%;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}

#operation_button{
  width:100%;
}

.button_image{
	
}

img.button_image {
	width: 60%;
	height: auto;
}

.button_name{position: absolute;bottom: 0;margin: 0px 10px -10px -45px;}

.glyphicon-minus{
	color:red;
	font-size: 12px;
}

.glyphicon-plus{
	color:green;
	font-size: 12px;
}

.glyphicon-minus:hover{
	opacity: 0.7;
	cursor: pointer;
}

.glyphicon-plus:hover{
	opacity: 0.7;
	cursor: pointer;
}

span.m_qty_data {
    padding: 0 10px;
}

label{
	margin-right: 10px;
	width: 10%;
}

.form-control{
	display: inline-block;
	width: 80%;
}

td.m_name:hover {
    cursor: pointer;
    font-weight: bold;
}


/* modal*/
.modal-footer{
	border-top:0;
}

.modal input[type="text"]{
	    width: 80% !important;
	    height: 30px !important;
	    padding: 0 10px;
}


.material_image{
	width: 100%;
	height: 120px;
	vertical-align: middle;
	border-radius: 5px;
	object-fit: contain;
}

.material_item{
	width: 19%;
	padding: 0px 0;
	margin-bottom: 9px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 2px rgba(0,0,0,0.24);
	/* border:1px solid #ccc; */
	background: rgba(174, 195, 6, 0.3);
}



.material_item:hover{
	opacity: 0.8;
}

.material_item:active{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.material_name{
	position:  relative;
	z-index: 1;
	margin: -21px 0px 0;
	white-space: nowrap;
	width: 108px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(0%, 0%);
	background: rgba(0, 166, 90, 0.2);
}

td.material_name{
	text-indent: 30px;
	position:  relative;
	z-index: 1;
	margin: -21px 0px 0;
	white-space: nowrap;
	width: 108px;
	border-radius: 0 0 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(0%, 0%);
	background: rgba(0, 166, 90, 0);
}

td.material_name:before,td.material_name:after{
	    border-right: 2px solid;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 10px;
    top: 50%;
    width: 0;
}

td.material_name:after{
	margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

img.material_tick {
    width: 4%;
    position:  absolute;
    top: 13px;
}

.hidden{
	display: none;
}

#view_invoice_blade .modal-header .close {
    margin-top: -24px;
}