*{
	margin: 0;
	padding:0;
}

a{
	color:#333;
}

a:hover{
	cursor: pointer;
	text-decoration: none;
}


.category_data::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
    position: absolute;
    transition: 3s all !important;

}
/* optional: show position indicator in red */
.category_data::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
}

.category_data:hover::-webkit-scrollbar {
	height: 3px !important;
}

.subcategory_data::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
    position: absolute;
    transition: 3s all !important;

}
/* optional: show position indicator in red */
.subcategory_data::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
}

.subcategory_data:hover::-webkit-scrollbar {
	height: 3px !important;
}



.menu_data::-webkit-scrollbar {
    width: 0.5vh;  /* remove scrollbar space */
    height: 1vh;
    display: block;
    background: transparent;
    border-radius: 1vh;
}

.menu_data:hover::-webkit-scrollbar {
    width: 0.5vh;  /* remove scrollbar space */
    background: #d0d0d0;
}

/* optional: show position indicator in red */
.menu_data::-webkit-scrollbar-thumb {
    background: #3c5a99;
    border-radius: 1vh;
}

#table_order_data::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
    height: 10px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}
/* optional: show position indicator in red */
#table_order_data::-webkit-scrollbar-thumb {
    background: #2a4377;
    border-radius: 10px;
}


.menu_detail::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
    height: 10px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}
/* optional: show position indicator in red */
.menu_detail::-webkit-scrollbar-thumb {
    background: #2a4377;
    border-radius: 10px;
}


#order_confirm_modal::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
    position: absolute;
    transition: 3s all !important;

}
/* optional: show position indicator in red */
#order_confirm_modal::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
}

#order_confirm_modal:hover::-webkit-scrollbar {
	height: 3px !important;
}

.menu_detail {
    display: block;
    height: 18vh;
    overflow: auto;
    font-size: 2vh;
    padding: 10px;
    border: 1px solid #ced5e8;
    background: #dee2ed;
}




#table_order_data_old::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
    height: 10px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}
/* optional: show position indicator in red */
#table_order_data_old::-webkit-scrollbar-thumb {
    background: #2a4377;
    border-radius: 10px;
}

#table_order_data_confirm::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
    height: 10px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}

#table_order_data_confirm::-webkit-scrollbar-thumb {
    background: #3c5a99;
    border-radius: 10px;
}
/* end of scroll */



body{
	font-size: 15px;
	color: #231916;
	margin: 0;
	padding: 0;
	background: #F1F1F1;
	font-family: sans-serif;
}

.row{
	padding-left: 0;
	padding-right: 0;
	margin:  0;
}


.header
{
	background: #2a4377;
	padding: 1vh 2vh;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:#fff;
	margin-bottom: 2vh;
	/* height: 9vh; */
}

.header .title{
	color:#fff;
	font-size: 3vh;
	font-weight: normal;
	text-transform:  uppercase;
}

.header .orderData{
	text-align: left;
	font-size: 2vh;
}

.header .order_title{
	color:#fff;
}

.header .order_data{
	color:#252121;
}

.body {
    margin: 2vh;
    height: 87vh;
}

.body
{
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 1vh;
}

.customer_order{
	    margin: 0px 1.5vh 0 0.5vh;
	    padding: 0;
}

.customer_order table{
	width: 100%;
}

.customer_order th
{
	color:#fff;
	background: #3C5A99;
	padding: 1vh 1vh;
	font-size: 1.5vh;
	font-weight: 400;
	text-transform: uppercase;
}

.customer_order th:last-child{
	width: 5vw;
}

.customer_order tr:nth-child(even){
	background: #eef1f7;
}

.customer_order td{
	padding: 1vh;
}

.customer_order td:last-child{
	text-align: right;
	width: 5vw;
}


.customer_order tbody#table_order_data {
    display:block;
    height: 58vh;
    overflow:auto;
    font-size: 2vh;
    background: #eef1f7;
    border: 1px solid #dbe1ed;
}

.customer_order tbody#table_order_data_old{
	display:block;
	height: 56.7vh;
	overflow:auto;
	font-size: 2vh;
	background: #eef1f7;
	border: 1px solid #dbe1ed;
	margin-bottom: 2vh;
}

.customer_order #table_order thead, .customer_order tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.customer_order #table_order th:nth-of-type(1),.customer_order #table_order td:nth-of-type(2) {
    width: 25vh;
}

.customer_order #table_order_old th:nth-of-type(1),.customer_order #table_order_old td:nth-of-type(2) {
	width: 25vh;
}

i.icon_percent.fa.fa-percent {
    top: -1px;
    position: relative;
    padding-right: 1vw;
    display: inline-block;
    cursor:pointer;
}

i.icon_percent.fa.fa-percent:hover {
    color:#f00;
}




.glyphicon-remove:hover{
	color:#f00;
	cursor: pointer;
}

.menuRotate{
	width: 5vh;
	padding: 0;
	font-size: 2.6vh;
	margin-right: 1vh;
}


.rotate{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	background: #D0D0D0;
	padding: 1vh;
	margin: 0px 1.5vh 1vh 0;
	border-radius: 0.5vh;
	text-align: center;
	font-size: 2.1vh;
	font-weight: 600;
	position:relative;
}

.rotate:hover{
	background:#2a4377;
	color:#fff;
	transition: .1s all;
	cursor: pointer;
}

.category{
	height: 15.5vh;
	margin-bottom: 1vh;
}

.subcategory{
	height: 15.5vh;
	margin-bottom: 1vh;
}

.menu{
	height: 50.8vh;
}

.category_data {
    overflow: auto;
    white-space: nowrap;
    height: 16.1vh;
}

.category_data:hover{
	cursor:grab;
}

.subcategory_data {
    overflow: auto;
    white-space: nowrap;
}

.menu_data {
	height: 50.8vh;
	overflow-y: auto;
	border: 0.1vh solid #ccc;
	transition: color 3s ease;
	padding: 1vh;
}



.category_item
{
	width: 16.5vh;
	margin-bottom: 0.9vh;
	display: inline-block;
	text-align: center;
	border-radius: 1vh;
	box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.4vh 0.2vh rgba(0,0,0,0.24);
	border: 0.1vh solid #ccc;
	height: 15.3vh;
	padding: 6vh 0;
}

a.subcategory_code{
	display:inline-block;
}

.subcategory_item
{
	width: 16.5vh;
	margin-bottom: 0.9vh;
	text-align: center;
	border-radius: 1vh;
	box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.4vh 0.2vh rgba(0,0,0,0.24);
	border: 0.1vh solid #ccc;
	height: 15.3vh;
	padding: 4vh 0.5vw;
	overflow: hidden;
	white-space: normal;
	vertical-align: middle;
	line-height: normal;
	display: table-cell;
}

.menu_item{
	width: 19.5%;
	padding: 0 0;
	margin-bottom: 0.9vh;
	display: inline-block;
	text-align: center;
	border-radius: 1vh;
	box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.4vh 0.2vh rgba(0,0,0,0.24);
	/* border: 1px solid #849ac9; */
	/* background: rgb(60, 90, 153); */
	overflow: hidden;
	position: relative;
}

.menu_item:hover{
	opacity: 0.8;
}

.menu_item:active{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.category_item:hover{
	background: #3C5A99;
	cursor: pointer;
	color: #fff;
}

.category_item:active{
	background: #2a4377;
	color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.subcategory_item:hover{
	background: #3C5A99;
	cursor: pointer;
	color: #fff;
}

.subcategory_item:active{
	background: #2a4377;
	color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}





.clear
{
	 clear:both;
    line-height:0;
}
.menu_single_item {
}

.menu_name{
	text-transform: capitalize;
	z-index: 1;
	font-size: 1.9vh;
	margin: -2.6vh 0px 0;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	transform: translate(0%, 0%);
	background: rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.menu_code_number {
    text-transform: capitalize;
    z-index: 1;
    font-size: 1.9vh;
    /*margin: -2.6vh 0px 0;*/
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    transform: translate(0%, 0%);
    background: rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    position: absolute;
    top: 0
}

.menu_material{
	z-index: 1;
	margin: 0px 0px 0;
	white-space: nowrap;
	width: 118px;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:  center;
	transform: translate(0%, 0%);
	background: rgba(227, 233, 177, 0.85);
}

.menu_material:hover{
	cursor:pointer;
	background:#8c963a;
}

.active{
	background: #2a4377;
	color: #fff;
}

.member_box.active {
    color:#fff !important;
    background:#609e67 !important;
}

.bargain_box.active {
    color:#fff !important;
    background:#609e67 !important;
}

#paid_info .active{
	background: transparent;
	color:#333;
}

#paid_info .top_navbar .active{
	background: transparent;
	/* color:#fff; */
	border-bottom: 2px solid #E96224;
}

#paid_info .top_navbar .tabs{
	padding: 10px 0;
}

#paid_info .top_navbar .tabs:hover{
	color: #26375a;
	border-bottom: 2px solid #E96224;
}

#paid_information .active{
	background: transparent;
	color:#333;
}

#paid_information .top_navbar .active{
	background: transparent;
	/* color:#fff; */
	border-bottom: 2px solid #E96224;
}

#paid_information .top_navbar .tabs{
	padding: 10px 0;
}

#paid_information .top_navbar .tabs:hover{
	color: #26375a;
	border-bottom: 2px solid #E96224;
}


/* filter remove */
.remove_filter{
	background: #ec5050;
	color: #fff;
	font-size: 2vh;
}


.menu_image{
	width: 10vw;
	height: 9.6vw;
	object-fit:  contain;
	overflow: hidden;
}



.none{
	display: none;
}

.total_amount{
	font-size: 2vh;
	text-align: right;
	background: #e6e6e6;
	padding: 1vh;
}

.total_title{
}

#order_total{
	color:green;
}






.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Button */
.operation_button{
	
padding: 30px 0;
}

#print_modal .item{
	height: 8vw;
	padding: 2vw 1vw;
}

.item{
	border-radius: 100%;
	background: #ccc;
	margin: 1vh;
	padding: 2.5vh 1vh;
	height: 11vh;
	box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
	border: 0.1vh solid #989696;
}

.item:hover{
	opacity:.7;
	cursor:pointer;
}

.exit .item:hover{
	background: #ea3f45;
	border-color: #983e41;
}

.button{
  width: 13vh;
  text-align:center;
  display:block;
  background-color: transparent;
  margin-right: 1vh;
  float:left;
}

#print_modal .button{
	display:inline-block;
	float:none;
	width: 9.1vw;
}

#operation_button{
  width:100%;
}

.button_image{
	
}

#print_modal .button_image {
	width: 4vw;
	height: auto;
}

img.button_image {
	width: 5.5vh;
	height: auto;
}

.old_order img.button_image{
	width: 3vh;
	height: auto;
}

.button_name{position: absolute;bottom: 0;margin: 0px 10px -10px -45px;}

.glyphicon-minus{
	color:red;
	font-size: 1.2vh;
	top: 0.1vh;
}

.glyphicon-plus{
	color:green;
	font-size: 1.2vh;
	top: 0.1vh;
}

.glyphicon-minus:hover{
	opacity: 0.7;
	cursor: pointer;
}

.glyphicon-plus:hover{
	opacity: 0.7;
	cursor: pointer;
}

span.m_qty_data,span.material_qty_data {
    padding: 0 1vh;
}

label{
	margin-right: 10px;
	width: 10%;
}

#promotion_pack_modal .modal-body #promotion_pack {
    width: 67%;
}

.form-control{
	display: inline-block;
	width: 84%;
	margin-bottom: 10px;
}

.discount_button{
	cursor:pointer;
}

.discount_button:hover{
	opacity:0.7;
}

.membership_no{
	width: 100%;
}


td.m_name:hover {
    cursor: pointer;
    font-weight: bold;
}


/* modal*/
.modal-footer{
	border-top:0;
}

#discount_modal .modal-footer{
	padding:0 20px 15px;
}

#paid_info .modal-footer{
	border-top:0;
	padding: 0;
}

.modal input.search_data[type="text"]{
	    width: 80% !important;
	    height: 30px !important;
	    padding: 0 10px;
}


.material_image{
	width: 10vw;
	height: 9.6vw;
	border-radius: 0.5vw;
	object-fit: contain;
	position: relative;
}

.material_item{
	/* width: 19%; */
	padding: 0px 0;
	margin-bottom: 9px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 2px rgba(0,0,0,0.24);
	/* border:1px solid #ccc; */
	background: rgb(222, 226, 237);
	position: relative;
}



.material_item:hover{
	opacity: 0.8;
}

.material_item:active{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.material_name{
	    text-transform: capitalize;
    z-index: 1;
    font-size: 1.9vh;
    margin: -2.5vh 0px 0;
    white-space: nowrap;
    width: 100%;
    border-radius: 0 0 0.5vh 0.5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    transform: translate(0%, 0%);
    background: rgba(60, 90, 154, 0.7);
}

td.material_name{
	text-indent: 3vh;
	position:  relative;
	z-index: 1;
	margin: -2.1vh 0px 0;
	white-space: nowrap;
	width: 10.8vh;
	border-radius: 0 0 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(0%, 0%);
	background: rgba(0, 166, 90, 0);
	color: #333;
}

td.material_name:before,td.material_name:after{
	    border-right: 0.2vh solid;
	    /* content: ''; */
	    display: block;
	    height: 0.8vh;
	    margin-top: -0.6vh;
	    position: absolute;
	    -moz-transform: rotate(135deg);
	    -o-transform: rotate(135deg);
	    -webkit-transform: rotate(135deg);
	    transform: rotate(135deg);
	    left: 1vh;
	    top: 2vh;
	    width: 0;
}

td.material_name:after{
	margin-top: -0.1vh;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

img.material_tick {
    width: 24%;
    position: absolute;
    top: 13px;
}

#menu_data_modal img.material_tick{
	top: 0px;
	z-index: 2;
}

img.menu_size_tick{
	width: 2%;
	position:  absolute;
	top: 13px;
}

#menu_data_modal img.menu_size_tick{
	top: 45px;
}

.hidden{
	display: none;
}

#view_invoice_blade .modal-header .close {
    margin-top: -24px;
}

.coverBothInv input{
	text-align: right;
}

.col-md-6.module {
    padding: 0;
    margin: 1.5vh 0;
}

.button p {
    font-size:2vh;
}

.food{
	font-size: 2vh;
}

.glyphicon-minus:before,.glyphicon-plus:before{
	font-size: 2vh;
}

.discount{
	text-align: left;
	padding: 0;
}

.total{
	padding: 0;
}

.noteremove{
	background: #d44040;
	color:#fff;
}

.noteremove:hover{
	opacity: 0.8;
	color:#fff;
	background: #d44040;
}

.noteremove:active:focus, .noteremove:focus:focus-within{
	background: #d44040;
	color:#fff;
}

#order_confirm_modal{
	    margin: 0px 1.5vh 0 0.5vh;
	    padding: 0;
	    overflow-y:  scroll;
}

#order_confirm_modal table{
	width: 100%;
}

#order_confirm_modal th
{
	color:#fff;
	background: #3C5A99;
	padding: 1vh 2vh;
	font-size: 2vh;
	font-weight: 400;
}

#order_confirm_modal tr:nth-child(even){
	/* background: #dedede; */
}

#order_confirm_modal td{
	padding: 1vh;
	border-bottom:  0 !important;
}

#order_confirm_modal td:last-child{
	text-align: center;
}


#order_confirm_modal tbody#table_order_data_confirm {
    display:block;
    height: auto;
    overflow:auto;
    font-size: 2vh;
    background: #eef1f7;
    border: 1px solid #dbe1ed;
    /* margin-bottom: 2vh; */
}
#order_confirm_modal #table_order_confirm thead, #order_confirm_modal tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
#order_confirm_modal #table_order_confirm th:nth-of-type(1),#order_confirm_modal #table_order_confirm td:nth-of-type(2) {
    width: 25vh;
}

#order_confirm_modal .set_minus,#order_confirm_modal .set_plus,#order_confirm_modal #table_order_data_confirm .remove-this{display: none;}

.input_length{
	width: 67.4%;
	display:  inline-block;
	text-align:  right;
	height: 34px;
	padding: 6px 12px;
	/* margin-bottom: 10px; */
}
.confirm_length{
	width: 66.5%;
	display:  inline-block;
	text-align:  left;
	height: 34px;
	padding: 6px 12px;
}
.confirm_label{
	width: 30%;
	text-align: left;
}
.promotion_pack_data{
	width: 49.5%;
}

.discount .amount{
	padding-right:0;
	width: 50.5%;
}

select#discount_amount {
    width: 100%;
}

.main{
	background: #fff;
	text-align: center;
	height: 35px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 30px;
}


.main:hover,.main:hover span,.main:hover i ,.main:hover .title{
	
color: #ffffff;
transition: .2s all;
background: #3c5a99;
cursor: pointer;

}

.main .title{
	color:#333;
	font-weight: 600;

	 padding: 7px 0 7px;
}

.main .item{
	color:#333;
	font-size: 22px;
}

.main.active, .main.active .title{
	color: #ffffff;
	background: #2a4377;
}

.col-md-1.percent, .col-md-1.money{
	padding: 0 0 0 5px;
	width: 8.3333333%;
	height: 33px;
}

.percent .main,.money .main{
	height: 33px;
}

.percent .main .title, .money .main .title{
	padding: 7px 0 7px;
}

.tick_result {
    margin-bottom: 20px;
    display: inline-block;
}

.length{
	width: 30%;
}

.length2{
	width: 60%;
}

.set_membership{
	/* margin-top:20px; */
}


.discount label,.total_tax_title{
	float: left;
	width: 30%;
}

.split_payment .length{
	float: left;
	width: 30%;
}

.split_payment .currency_label {
    margin-bottom: 10px;
}

.split_payment .length_split {
	width:31%;
	float:left;
}



.promotion_pack_info .fa-info-circle{
	font-size: 3vh;
	color: #3c5a99;
	z-index: -1;
}

.promotion_pack_info:hover{
	cursor: pointer;
	opacity: 0.8;
}

#promotion_pack_info .modal-header {
    background: #3c5a99;
    color: #fff;
}

.promotion_pack_info_table{
	border: 1px solid #ccc;
	padding: 2vh;
	margin-bottom: 2vh;
}

.promotion_pack_info_table td{
	border:1px solid #ccc;
	padding: 2vh;

}

.promotion_pack_info_table tr td:nth-child(1){
	width: 30%;
	font-weight: bold;
}

.promotion_packs_detail {
    border: 1px solid #ccc;
    padding: 2vh;
    width: 100%;
}

.promotion_packs_detail td,th{
    border:1px solid #ccc;
	padding: 2vh;
}

.promotion_pack_info_table tr td:nth-child(2),.promotion_pack_info_table tr td:nth-child(3),.promotion_pack_info_table tr td:nth-child(4){
	width: 30%;
}

#order_confirm_modal .modal-lg{
	width:1170px
}

#confirm_remain_amount {
    background: #9e5555;
    color: #fff;
    border-radius: 2px;
    height: auto;
    width: 66.5%;
    text-align: right;
}

#confirm_return_amount {
    background: #559e55;
    color: #fff;
}

#order_confirm_modal .modal-footer {
    padding: 0 15px 10px;
}

button.swal-button.swal-button--confirm {
    background: #2a4377;
    border-radius: 0.2vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button.swal-button.swal-button--confirm:hover{
    opacity:0.8;
}

#order_confirm_modal tbody#table_order_data_confirm_remove {
    display:block;
    height: 7vh;
    overflow:auto;
    font-size: 2vh;
    background: #eef1f7;
    border: 1px solid #dbe1ed;
    margin-bottom: 2vh;
}

.col-md-6.old_order {
    text-align:  left;
    padding: 0 5px;
}

.old_order:hover{opacity: 0.8;cursor:  pointer;}

.printing_ticket{
	padding: 2vh;
	background: #fff;
	border: 1px dashed #828282;
	margin-bottom: 2vh;
}

.p_number {
    text-align:  center;
    padding: 4vh;
    font-size: 5vh;
}

#print_ticket_modal .modal-body {
    display: block;
    height: 73vh;
    overflow: auto;
    font-size: 2vh;
    background: #eef1f7;
    border: 1px solid #dbe1ed;
}

.old_order_data {
    background: rgb(42, 67, 119);
    border-radius: 100%;
    font-size: 1.1vh;
    padding: 1vh;
    position: relative;
    color: #fff;
    left: -10px;
    bottom: 5px;
}

.item_detail .title {display: block;margin-bottom: 10px;}

.menu_size {
    display: inline-block;
    padding: 10px;
    width: auto;
    background: #3C5A99;
    text-align:  center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 1vh;
}

.menu_code_data {
    color: #fff;
}

span.m_size_name {
    font-size: 1.6vh;
    text-indent: 3vh;
    display:  inline-block;
    position:  relative;
    color: grey;
    font-style:  italic;
}

.m_size_name:before{
    /* content:''; */
    position:absolute;
    width:5px;
    height: 0.2vh;
    background: #3c5a99;
    left: 1.5vw;
    bottom: 4px;
}

.menu_size:hover {
    background:#304c86;
    cursor:  pointer;
}

.menu_size:active {
    background:#284175;
}

.item_note {
    margin-top: 2vh;
}

textarea.form-control.item_note_data {
    width: 100%;
    margin-top: 2vh;
}

#menu_data_modal .material_item {
    margin-top:3vh;
}

.material_main .title {
    display:block;
    margin-top: 2vh;
}

.p_menu {
    padding: 10px;
    margin-top: 5px;
    background: rgb(253, 239, 233);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu_size.active {
    background: #E96224;
}

.menu_size.active.after_add {
    cursor: default;
}		

tr.menu_data_in_table {
    border-top: 1px dotted #afc2eb;
}

tr.menu_data_in_table:first-child {
    border-top: 0px;
}

#menu_data_modal .material_main.after_add_data img.material_tick
{
}

td.old_menu_id_material {
    color:  #00afe1;
    text-indent: 1.5vw;
    font-size: 1.5vh;
}

.item_data {
    width: 70%;
    display:  inline-block;
}

.item_number {
    width: 26%;
    display: inline-block;
}

.menu_materials_main{
	margin-bottom: 10px;
}

.border_container {
    padding:  10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    /* box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24); */
}

.clear_container {position: absolute;right: 15px;top: 0;cursor: pointer;}

.clear_container:hover{
	opacity:0.7;
}

.membership {
    box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
    margin-bottom: 10px;
    padding: 10px;
}

.member_box {
    background: #ccc;
    color: #7d7575;
    padding: 15px;
    border-radius: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
}

.member_box:hover{
	cursor:pointer;
	opacity:0.7;
}

.bargain {
    padding:10px;
    margin-bottom:10px;
    box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
}

.bargain_box {
    background: #ccc;
    color: #7d7575;
    padding: 15px;
    border-radius: 100%;
    height: auto;
    display: inline-block;
    text-align:center;
    box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
}


.bargain_box:hover{
	cursor:pointer;
	opacity:0.7;
}

.have_size {
    position:  relative;
}

.have_size:before{
     content:'!';
     position:absolute;
     width: 1.5vw;
     height: 1.5vw;
     background: #E96224;
     left: 0vw;
     top: 0;
     color: #fff;
     box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.4vh 0.2vh rgba(0,0,0,0.24);
}

.have_size:hover:before{
     cursor:pointer;
     background:#e64e08
}

.have_material{
	position:relative;
}

.have_material:before{
     content:'!';
     position:absolute;
     width: 1.5vw;
     height: 1.5vw;
     background: #2485e9;
     left: 8.5vw;
     top: 0vh;
     color: #fff;
     box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.4vh 0.2vh rgba(0,0,0,0.24);
}

.have_material:hover:before{
     cursor:pointer;
     background:#559ae1
}

#order_confirm_modal .modal-body{
	padding:0;
}

.border_bottom {
    /* border-bottom: 1px dashed #ccc; */
    /* margin-bottom: 20px; */
}

.member_bargain {
    padding: 2vh 0;
}

.input_length_paid {
    width: 57%;
    display: inline-block;
    text-align: right;
    padding: 6px 0px;
    margin-bottom: 10px;
    font-size:20px;
}

.length_paid {
    width:40%;
    font-size: 16px;
}

.length_member{
	width: 30%;
}

.input_length_member{
	width: 66.5%;
	display: inline-block;
	padding: 6px 12px;
}

#invoice_modal {
    overflow-y:scroll;
}

#paid_info {
     overflow-y:scroll;
}

.top_navbar {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    text-align:  center;
    padding:  0;
}

.modal-extralarge{
	width: 1200px;
}

.remain_paid_complete{
    text-align:center;
    /* padding: 3px 0; */
    width: 60%;
}

#item_discount_percentage {
    width: 100%;
}

.text-center{
	text-align:center;
}

.search_item_modal .modal-content{
	top : 170px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	border-radius : 0; 
}

.search_item_modal .modal-header{
	background-color : #3C5A99;
	color: #fff;
}

.module {
    padding: 0.5vw 0;
}

#remove_discount{
	cursor: pointer;
}

#remove_discount:hover{
	opacity: 0.8;
}

.clearfix:before,
.clearfix:after {
   content: '\0020';
   display: block;
   overflow: hidden;
   visibility: hidden;
   width: 0;
   height: 0;
}
.clearfix:after { clear: both; }
.clearfix {zoom: 1;}

/* styling the backdrop*/
::backdrop {
  background: #F1F1F1;
}
::-ms-backdrop {
  background: #F1F1F1;
}

@media only screen and (min-device-width: 320px) 
                   and (max-device-width: 768px) 
                   and (orientation: landscape) {
	.modal-dialog {
	    width: 900px;
	    margin: 30px auto;
	}

	
}

@media only screen and (max-width: 700px) {
	.rsp_center{
		text-align: center;
	}
}