.daterangepicker
{
    right: 155px !important;
    background: rgba(34, 45, 50, 0.8) !important;
}

.daterangepicker.opensright:after
{
  border-bottom: 6px solid rgba(34, 45, 50, 0.8) !important;
}

.daterangepicker_start_input label{
  text-shadow:none !important;
  color:#fff !important;
}

.content-wrapper
{
	min-height: 800px !important;
}