.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../vendor/crudbooster/assets/lightbox/dist/images/loadingicon.gif) center no-repeat #fff;
}


.se-pre-con-detail {
	position: fixed;
	left: 230px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../vendor/crudbooster/assets/lightbox/dist/images/loadingicon.gif) 40% 50% no-repeat #fff;
}