.container {
    width: auto;
    height: auto;
}

table.table-bordered th:last-child
{
  display: table-cell;
}


  .btn-xs
  {
    padding:5px 7px !important;
  }

  .form-group {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .form-group.timepicker .input-group-addon {
       position: absolute;
       z-index: 111;
       top: 153px;
       height: 32px;
       display: block;
       width: 50px;
       right: 32px;
       border: 0;
       border-radius: 0;
    }


    .bg-details-info table {
        background-color: #fff;
    }
    input#total,input#total_ran,input.btn_date  {
       background: rgb(255, 255, 255) !important;
    }
    table.table.table-striped.table-bordered.side-bar-table a {
        padding: 9px 10px;
        display: block;
    }
    table.table.table-striped.table-bordered.side-bar-table tr td:nth-child(even) {
        padding: 0 !important;
    }
    a.btn_view_details.active {
        background-color: #4b5b63;
        color: #fff;
    }
    .last-total {
        border-right: 0 !important;
    }
    tbody.dir_table {
    display:block;
    height:auto;
    overflow:auto;
}
thead.dir_table_thead, tbody.dir_table tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:400px;
}

.bg_report_product
{
    padding: 15px;
}

.panel-info
{
    border-color: #a6dac2;
}

tbody.dir_table .category
{
    background-color: #a2d6be;
    color:#333;
    border-color:#fff;
}

#sort_by_title{
    background-color:#fff; 
}

.content{
    min-height: auto;
}


#home .col-md-offset-9{
    margin-left:85%;
}

.daterangepicker
{
    right:45px !important;
}

.bg-details .sortdata{
    border:2px solid #dbe5ea; 
    margin-bottom: 10px;
    background-color: #ffffff; 
    padding: 10px;
}



.dir_table_thead tr
{
    background-color: #4e6fb6;
    color:#fff;
}

.bg_report {
      background: rgb(255, 255, 255);
      padding: 15px;
      height: auto !important;
      position: relative;
      display: block;
      /* overflow: hidden;
      overflow-y: scroll;*/
  }
  .bg_report>.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      background: #ecf0f5;
      box-shadow: 0px 3px 9px -8px black;
      border-radius: 0px;
  }

  tbody.dir_table {
    display:block;
    overflow:auto;
    background: #eaeaea;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.view_button {
    background-color: #3c5a99;
    border-color: #3c5a99;
    border-bottom: 3px solid #2a4377;
    padding: 3px 15px;
    color: #fff;
    cursor: pointer;
}

.view_button:hover{
  opacity:0.8;
  color:#fff;

}

.view_button:active:hover{
    background-color: #2a4377;
    opacity: 0.8;
    border-bottom: 2px solid #2a4377;
}

.view_button:active:focus{
    background-color: #2a4377;
    opacity: 0.8;
    border-bottom: 2px solid #2a4377;
}

.log_table {
    border:1px solid #cbd4df;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label_lenght{
  text-align: left;
  border-right: 1px solid #e1e1e1;
}

.log_detail {
    font-size: 18px;
    margin-bottom: 5px;
}

.log_data {
    text-align: right;
    width: 55%;
    display: inline-block;
}

.spacing_bottom{
  margin-bottom: 10px;
}