
.Add-menu5::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    height: 0px;
    display: block;
    background: #eaeaea;
    border-radius: 10px;
}
/* optional: show position indicator in red */
.Add-menu5::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
}


.material{
	padding: 0px 5px;
}



.category,.subcategory
{
	padding: 5px;

}

.menu select{
	padding: 5px;
	width: 100%;
}

.remove-this
{
	position: absolute;
	top: 6px;
}

.mainboxSet input{
	text-align: center;
	padding-left: 10px;
}

.mainboxSet {
    /* text-align: center; */
    padding: 0 0px 20px;
}

.mainboxSet label{
	margin: 0 10px;
}

.wrap_menuadd .col-sm-12
{
    margin: 5px 0 0;
}

.wrap_menuadd .col-sm-12 .row
{
	margin-bottom: 10px;
}

.glyphicon:hover
{
	color:#f00;
}


.glyphicon.glyphicon-plus{
	color:green;
}

.glyphicon.glyphicon-plus:hover{
	color: rgba(0, 128, 0, 0.7);
}


.glyphicon.glyphicon-minus{
	color:red;
}

.glyphicon.glyphicon-minus:hover{
	color: rgba(255, 0, 0, 0.7);
}

.select2-container .select2-selection--single {
    border: 1px solid #ccc !important;
    height: 36px !important;
    border-radius: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 5px !important;
}

.select2-container--default .select2-selection--single{
	padding: 5px !important;
}

.add_new {
    padding: 7px 0;
}

.add_new span{
	font-size: 16px;
	color: #00a65a;
	cursor: pointer;
}

.add_new span:hover{
	opacity:0.7;
}

#form .box-body{
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	    border-bottom-right-radius: 3px;
	    border-bottom-left-radius: 3px;
	    padding: 20px;
	    border: 1px solid #dfdfdf;
	    margin: 0px 20px 20px 20px;
	    border-radius: 2px;
}

.modal .box-body{
	border: 0px solid #ccc !important;
    margin: 0px !important;
}

.material_plus strong{
	margin-right: 10px;
}

.material_plus i:hover{
	cursor:pointer;
	opacity:0.7;
}

.Add-menu5 {
    position: relative;
    /* padding: 1.5vh; */
    height: 380px;
    overflow-y: scroll;
}

.modal-header {
    border-bottom-color: #f4f4f4;
    background: #3C5A99;
    color: #fff;
}

.glyphicon-remove:hover{
	cursor: pointer;
	opacity: 0.7;
}	

.materials
{
	padding: 0;
}

button.btn.btn-default.add_uom {
    width: 27%;
    margin-right: 15px;
}

div#form-group-uom {
    margin-top: 15px;
}

span.remove_uom_price {padding: 6px;display: inline-block;}

img.add_new_icon {
    margin-top: -7px;
}		

span.add_new_title {
    margin-left: 5px;
}

.uom_input_type {
    width: 71%;
}

.UOM_initial {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.add_button_img {
    margin-top: -2px;
}

form#form {
    margin-bottom: 0;
}

.duplicate {
    border: 1px solid red;
    color: red;
}
.add_new_materials_title{
	font-size: 16px;
	color: #00a65a;
}
.add_new_materials_title:hover{
	opacity: 0.7;
}
.add_material_model{
	width: 1000px;
}
.add_mat{
	width: 945px;
    right: 150px;
    top: 60px;
}

