.promotion-type
{
	padding: 5px;

}

.menu select{
	padding: 5px;
	width: 100%;
}

.remove-this
{
	position: absolute;
	top: 30px;
}

.mainboxSet input{
	text-align: center;
	padding-left: 10px;
}

.mainboxSet {
    text-align: center;
    padding: 20px;
}

.mainboxSet label{
	margin: 0 20px;
}

.wrap_menuadd .col-sm-12
{
    margin: 5px 0 0;
}

.wrap_menuadd .col-sm-12 .row
{
	margin-bottom: 10px;
}

.glyphicon:hover
{
	color:#f00;
	cursor:  pointer;
}

.add-field
{
	margin-left: 20px;
    padding: 5px 20px;
}

.glyphicon.glyphicon-plus{
	color:green;
}

.glyphicon.glyphicon-plus:hover{
	color: rgba(0, 128, 0, 0.7);
}


.glyphicon.glyphicon-minus{
	color:red;
}

.glyphicon.glyphicon-minus:hover{
	color: rgba(255, 0, 0, 0.7);
}


.main{
	background: #fff;
	text-align: center;
	height: 60px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 30px;
}


.main:hover,.main:hover span,.main:hover i ,.main:hover .title{
	
color: #ffffff;
transition: .2s all;
background: #3c5a99;
cursor: pointer;

}

.main .title{
	color:#333;
	font-weight: 600;
	padding: 20px 0 20px;
}

.main .item{
	color:#333;
	font-size: 22px;
}


.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.free_stuff{
	justify-content: center;
	height: 60px;
	margin-bottom: 20px;
	display: flex;
}

.main.active, .main.active .title{
	color: #ffffff;
	background: #2a4377;
}

.col-md-1.percent, .col-md-1.money{
	padding: 0 0 0 5px;
	width: 5.3333333%;
	height: 33px;
	margin-bottom: 20px;
}

.percent .main,.money .main{
	height: 33px;
}

.percent .main .title, .money .main .title{
	padding: 7px 0 7px;
}

.discount_block{
	justify-content: center;
	display: flex;
}
