.filter {
    background:#fff;
    border:1px solid #cccc;
    display: block;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.filter_title {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

.filter_date {
    border-right: 1px solid #ccc;
    margin-bottom: 5px;
}

input.custom_date  {
       background: rgb(255, 255, 255) !important;
}

.input-group-addon {
       position: absolute;
       z-index: 111;
       top: 25px;
       display: block;
       width: 13% !important;
       right: 16px !important;
       height: 55%;
       border: 0 !important;
       border-radius: 0 !important;
    }

.form-control.custom_date {
    cursor:default;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.chart_report {
    background:#fff;
    padding:10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.chart_title {
    margin-right: 2rem;
    margin-bottom: 15px;
    line-height: 1em;
    font-size: 15px;
    font-weight: 700;
    color: #969696;
    text-transform: uppercase;
}

.chart_currency{
    line-height: 1em;
    display: inline-block;
    font-size: 46px;
    letter-spacing: 2px;
}

.chart_result {
    line-height: 1em;
    display: inline-block;
    font-size: 46px;
    letter-spacing: 2px;
}

.chart_compare {
    font-weight: 400;
    font-size: 17px;
    margin-top: 11px;
    vertical-align: top;
    position: relative;
}

.chart_report:nth-of-type(2n){
    float:right;
}

.chart_report_canvas {
    margin-top: 10%;
    
}

.date_range{
  display: inline-block !important;
  width: 87% !important;
}

.date_range_button{
      background-color: #eeeeee;
      border-color: #e9e9e9;
      color: #202020;
      font-weight: bold;
      padding: 9px 15px;
      border: 1px solid #dbdbdb;
}

.report_dashboard {
    padding:0;
    margin: 0;
}

.bg_report {
      background: rgb(255, 255, 255);
      padding: 11px;
      height: auto !important;
      position: relative;
      display: block;
      /* overflow: hidden;
      overflow-y: scroll;*/
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin-bottom: 20px;
  }

.dir_table_thead tr
{
    background-color: #3c5a99;
    color:#fff;
}

.bg_report .data_title {
    margin-top:0;
}

.bg_report .table{
  margin-bottom: 0;
}

th {
    font-weight: normal;
}

.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}