.form-group{
  /* margin-bottom: 5px; */
}

.container {
  width: 1100px;
}

table.table-bordered th:last-child
{
  display: table-cell;
}

.form-group.timepicker .input-group-addon {
 position: absolute;
 z-index: 111;
 top: 28px;
 display: block;
 width: 13%;
 right: 16px;
 border: 0;
}
.bg-details-info table {
  background-color: #fff;
}
input#total,input#total_ran,input.btn_date  {
 background: rgb(255, 255, 255) !important;
}
table.table.table-striped.table-bordered.side-bar-table a {
  padding: 9px 10px;
  display: block;
}
table.table.table-striped.table-bordered.side-bar-table tr td:nth-child(even) {
  padding: 0 !important;
}
a.btn_view_details.active {
  background-color: #4b5b63;
  color: #fff;
}
.last-total {
  border-right: 0 !important;
}
tbody.dir_table {
  display:block;
  height:auto;
  overflow:auto;
}
thead.dir_table_thead, tbody.dir_table tr {
  display:table;
  width:100%;
  table-layout:fixed;
  font-size: 13px;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width: 100%;
}

.bg_report_product
{
  padding: 15px;
}

.panel-info
{
  border-color: #a6dac2;
}

tbody.dir_table .category
{
  background-color: #a2d6be;
  color:#333;
  border-color:#fff;
}

#sort_by_title{
  background-color:#fff; 
}

.content{
  min-height: auto;
}


#home .col-md-offset-9{
  margin-left:85%;
}

.daterangepicker
{
  right: 155px !important;
  background: rgba(34, 45, 50, 0.8) !important;
}

.daterangepicker.opensright:after
{
  border-bottom: 6px solid rgba(34, 45, 50, 0.8) !important;
}

.daterangepicker_start_input label{
  text-shadow:none !important;
  color:#fff !important;
}
/*prevoiuse next*/
.bottomShow{
  width: 100%;
  margin-top: -15px;
}
.numberShow{
  float: left;
  padding: 10px;
  font-weight: bold;
}
.nextPrevious i:hover{
  color: #8c8cff;
}
.nextPrevious i{
  color: rgba(0,0,0,0.5);
}
.pre{
  float: left;
  margin-right: 10px;
}
.next{
  float: left;
}
.pre:hover{
  color: #8c8cff;
}
.next:hover{
  color: #8c8cff;
}
.nextPrevious{
  padding: 10px;
  float: right;
  font-weight: bold;
}
/*end prevoiuse next*/
.bg-details .sortdata{
  border:2px solid #dbe5ea; 
  margin-bottom: 10px;
  background-color: #ffffff; 
  padding: 10px;
}

.dir_table_thead tr
{
  background-color: #3c5a99;
  color:#fff;
}

.bg_report {
  background: rgb(255, 255, 255);
  padding: 11px;
  /* height: 106%; */
  position: relative;
  display: block;
  /* overflow: hidden;
      overflow-y: scroll;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
    .bg_report>.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      background: #ecf0f5;
      box-shadow: 0px 3px 9px -8px black;
      border-radius: 0px;
    }

    tbody.dir_table {
      display:block;
      /* height: 515px; */
      overflow:auto;
    }


    .content-wrapper {
      min-height: 800px !important;
    }

    .filter {
      background:#fff;
      border:1px solid #cccc;
      display: block;
      padding: 10px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      margin-bottom: 15px;
    }


    .filter_date {
      border-right:1px solid #ccc;
    }

    .filter_custom_date {
      border-right:1px solid #ccc;
    }

    .container-fluid{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    th {
      font-weight: normal;
    }

    .table_grand_total{
      background: #e6e9ef !important;
    }

    .top_filter {
      margin-bottom:10px;
      border-bottom: 1px solid #ccc;
    }


    .btnsearch {
        text-align: center;
        width: 100%;
        background-color: #3c5a99 !important;
        border-color: #33508d !important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    }

    .btnsearch:hover{
        opacity:0.8;
        background-color: #3c5a99;
        border-color: #33508d;
    }

    .btnsearch:active:hover{
        opacity:1;
        background-color: #3c5a99;
        border-color: #33508d;
    }

    .btnsearch:active:focus{
        opacity:1;
        background-color: #3c5a99;
        border-color: #33508d;
    }

    .btnsearch:focus{
        opacity:1;
        background-color: #3c5a99;
        border-color: #33508d;
    }

    .search {
        margin: 10px;
    }