.form-group.timepicker .input-group-addon {
       position: absolute;
        z-index: 111;
        top: 28px;
        display: block;
        width: 13%;
        right: 16px;
        border: 0;
    }
    .bg-details-info table {
        background-color: #fff;
    }
    input#total,input#total_ran,input.btn_date  {
       background: rgb(255, 255, 255) !important;
    }
    table.table.table-striped.table-bordered.side-bar-table a {
        padding: 9px 10px;
        display: block;
    }
    table.table.table-striped.table-bordered.side-bar-table tr td:nth-child(even) {
        padding: 0 !important;
    }
    a.btn_view_details.active {
        background-color: #4b5b63;
        color: #fff;
    }
    .last-total {
        border-right: 0 !important;
    }
    tbody.dir_table {
    display:block;
    height:auto;
    overflow:auto;
}
thead.dir_table_thead, tbody.dir_table tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:400px;
}

.bg_report_product
{
    padding: 15px;
}

.panel-info
{
    border-color: #a6dac2;
}

tbody.dir_table .category
{
    background-color: #a2d6be;
    color:#333;
    border-color:#fff;
}

#sort_by_title{
    background-color:#fff; 
}

.content{
    min-height: auto;
}


#home .col-md-offset-9{
    margin-left:85%;
}

.daterangepicker
{
    right:45px !important;
}

.bg-details .sortdata{
    border:2px solid #dbe5ea; 
    margin-bottom: 10px;
    background-color: #ffffff; 
    padding: 10px;
}



.dir_table_thead tr
{
    background-color: #3c5a99;
    color: #fff;
}

.category{
    background-color: #89d0af;
}


thead.dir_table_thead, tbody.dir_table tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:400px;
}

  .bg_report_product {
         background: rgb(255, 255, 255);
         padding: 11px;
         position: relative;
         display: block;
         box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .bg_report_product>.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      background: #ecf0f5;
      box-shadow: 0px 3px 9px -8px black;
      border-radius: 0px;
  }
  .form-group.timepicker .input-group-addon {
       position: absolute;
        z-index: 111;
        top: 28px;
        display: block;
        width: 13%;
        right: 16px;
        border: 0;
    }
    .bg-details-info table {
        background-color: #fff;
    }
    input#total,input.btn_date  {
       background: rgb(255, 255, 255) !important;
    }

    table.table-bordered td:last-child{
        min-width: auto;
    }

    tbody.dir_table {
    display:block;
    overflow:auto;
}

.content-wrapper {
    min-height: 830px !important;
}


.filter {
    background:#fff;
    border:1px solid #cccc;
    display: block;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}


.filter_date {
    border-right:1px solid #ccc;
}

.filter_custom_date {
    border-right:1px solid #ccc;
}

.filter_uom {
    border-right:1px solid #ccc
}

.filter_subcategory {
    border-right:1px solid #ccc
}

.top_filter {
    margin-bottom:10px;
    border-bottom: 1px solid #ccc;
}

.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

th {
    font-weight: normal;
}

.icon_search {
    top: 12px;
    right: -9px;
    position: absolute;
    padding: 10px;
    height: 35px;
}