.content-header {
    padding: 15px 15px 0px 15px;
}

#main_table a{
    color: #262518;
    cursor:  pointer;
}

#main_table a:hover{
    opacity:0.8;
}

.table_busy {

}

ul.table_free {
    background-color: #65b664;
}

ul.table_is_merge{
    background:#5F5F5F;
}

ul.table_booked {
    background-color: #cd4444;
}

a.have-merge {
    background:#deb16f;
}

.modal,body{
    padding-right: 0 !important;
}

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}


#center-wrapper {
    margin: 0 auto;
    width: 920px;
}


/* Columns */

.column {
    margin-left: 0;
}
.column.first {margin-left: 0;}


/* Sortable items */

.sortable-list {
    background-color: #dee4e6;
    list-style: none;
    box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
}
.sortable-item {
    background-color: #FFF;
    border: 0.1vh solid #ffffff;
    cursor: move;
    display: block;
    font-weight: bold;
    padding: 14px 0;
    text-align: center;
    background: #579e7e;
    border-radius: 2px;
    height: 100%;
}

.sortable-item.child{
    cursor:default;
    height: 3vw;
    padding: 9px;
}

.sortable-item-not_allow{
    cursor:not-allowed;
    border: 1px solid #b9b3a6;
    cursor: move;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 4vw 0;
    text-align: center;
    background: #579e7e;
    border-radius: 5px;
    height: 10vw;
}

@media only screen and (min-width: 1200px) {
    .main_table{
        background-color: #dee4e6;
        list-style: none;
        margin: 0 14px 14px 0px;
        padding: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        width: 24%;
    }

    .table_detail img{
        width: 100%;
        height: unset;
    }

    .table_function {
        padding: 9% 0.6vw 10%;
    }

    .table_data {
        padding: 6%;
    }

    .sortable-list {
        list-style: none;
        margin: 0;
        padding: 15%;
    }
}

@media only screen and (max-width: 1200px) {
    .main_table{
        background-color: #dee4e6;
        list-style: none;
        margin: 0 0px 14px 0px;
        padding: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .table_detail img{
        width: 60%;
        height: unset;
        margin: 0px 20%;
    }

    .table_function {
        padding: 9% 0.6vw 11%;
    }

    .table_data {
        padding: 4%;
    }

    .sortable-list {
        list-style: none;
        margin: 0;
        padding: 6%;
    }

}


.main_table:nth-of-type(4n){
    
margin-right: 0;
}

.main_table .sortable-item {
    cursor: default;
}

.main_table .table_order .sortable-item:hover {
    opacity:0.8;
    cursor:pointer;
}

/* Containment area */

#containment {
    background-color: #ecf0f5;
}


/* Item placeholder (visual helper) */

.placeholder {
    background-color: #BFB;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px;
}


/* table popup*/
#table_modal .modal-content{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius:0px;
    border:0;
}

#table_modal .modal-header{
    background-color: rgb(139, 199, 155);
}

button.table_merge{
    position:relative;
    right: 8px;
    top: -45px;
}


/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    height: 100%;
}

.table_number {
    text-shadow: 0.2vh 0.2vh 0.4vh #000000;
}



.title{
    text-indent:30px;
    
}


.available:before {
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    background: #228B22;
    border: 1px solid #1d7d1d;
    left: 15px;
    bottom: 0px;
    border-radius: 2px;
}



.unavailable:before {
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    background: #cc0000;
    border: 1px solid #b92929;
    left: 15px;
    bottom: 0px;
    border-radius: 2px;
}

.title.merge{
    position:relative;
}

.title.merge:before{
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    background: #5F5F5F;
    border: 1px solid #525050;
    left: 15px;
    bottom: 0px;
    border-radius: 2px;
}


.row.status {
    margin-bottom: 3vh;
    background: #fff;
    box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
    margin-right: 0;
    margin-left: 0;
    padding: 10px 0;
}

.row.table_management {
    background:  #fff;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
    padding: 10px 10px 0 10px;
    height: 33.3vw;
    overflow-y: auto;
    transition: color 3s ease;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.modal-header {
    border-bottom-color: #151f36;
    background: #3C5A99;
    color: #fff;
}


.box_order {background: #fff;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);width: 20vw;}

.box_order_header {
    padding: 1vh 2vh;
    border-bottom: 1px solid #dbdbdb;
}

.box_order_body {
    padding: 1vh 2vh;
}

.occupied span {
    position:relative;
    margin-left: 2vw;
    font-weight: bold;
}

.occupied:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #D3D3D3;
    border: 1px solid #0c6b0c;
    left: 15px;
    bottom: 0px;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.table_info
{
    color:#333 !important;
    padding: 0;
}

.table_order:hover {
    cursor: pointer;
    opacity: 0.8;
}



.table_name{
    font-weight: bold;
}

.table_merge:hover {
    cursor: pointer;
    background: #85ca84;
}

a.table_detail.merge {
    border-left: 1px solid #bbbec0;
}


.main_table_merge {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}
ul.merged_table_ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    font-size: 16px;
}