/*CHECKBOX*/
.modal-body.menu label {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
  font-weight: 600;
}

.modal-body.menu label:hover{
  opacity: 0.8;
  cursor: pointer;
}

.modal-body.menu input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0 10px 0 0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  overflow: hidden;
}

label.checkbox_web  {
  display: inline-block;
  padding-left: 15px;
  text-indent: -57px;
  font-weight: 700;
  text-align: left;
}

label.checkbox_web:hover{
  opacity: 0.8;
  cursor: pointer;
}

.checkbox_web input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0 10px 0 0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  overflow: hidden;
  display: inline-block;
  right: -210px;
}

.form-horizontal{
  margin-bottom: 0;
}


label.end_date_checkbox_web {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
  font-weight: 700;
  padding-top: 6px;
}

label.end_date_checkbox_web :hover{
  opacity: 0.8;
  cursor: pointer;
}

.end_date_checkbox_web input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0 10px 0 0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  overflow: hidden;
}