table.invoice_data{
	margin-bottom: 20px;
	width: 100%;
	padding: 20px;
	font-size: 15px;
}

table.invoice_data tr{
	border-bottom: 1px solid #333;
}

table.order_data{
	width: 100%;
	padding: 20px;
}

table.order_data th{
	border-bottom: 2px solid #333;
}

table tr.order_data_detail{
	border-bottom: 1px solid #ccc;
}

