

/** 
 * IMPORTANT NOTICE: DON'T USE '!important' otherwise this may lead to broken print layout.
 * Some browsers may require '!important' in oder to work properly but be careful with it.
 */

body{
  -webkit-print-color-adjust: exact;
  padding: 0;
  margin:0;
}
.clearfix {
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

b, strong, .bold {
  font-weight: bold;
}

#container1 {
  margin: 0 auto;
  min-height: auto;
  color: #5B6165;
  position: relative;
  z-index: 99;
}
#container {
  margin: 0 auto;
  min-height: auto;
  color: #5B6165;
  position: relative;
 
}

#memo {
  padding: 20px 0;
  margin: 0 50px 0px 30px;
  border-bottom: 1px solid #ddd;
}
#memo .logo {
  float: left;
  margin-right: 20px;
}
#memo .logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
#memo .company-info {
  float: right;
  text-align: right;
}
#memo .company-info > div:first-child {
  line-height: 1em;
  /* font-weight: bold; */
  font-size: 22px;
  color: #4d6cae;
}
#memo .company-info span {
  font-size: 11px;
  display: inline-block;
  min-width: 20px;
  max-width: 340px;
}
#memo:after {
  content: '';
  display: block;
  clear: both;
}

#invoice-title-number {
  font-weight: bold;
  margin: 30px 0;
}
#invoice-title-number span {
  line-height: 0.88em;
  display: inline-block;
  min-width: 20px;
}
#invoice-title-number #title {
  text-transform: uppercase;
  padding: 0px 20px 0px 28px;
  font-size: 50px;
  background: #5974ad;
  color: white;
  text-align:  center;
}
#invoice-title-number #number {
  margin-left: 10px;
  font-size: 35px;
  position: relative;
  top: -5px;
}

#client-info {
  float: left;
  margin-left: 60px;
  min-width: 220px;
}
#client-info > div {
  margin-bottom: 3px;
  min-width: 20px;
}
#client-info span {
  display: block;
  min-width: 20px;
}
#client-info > span {
  text-transform: uppercase;
}

table {
  table-layout: fixed;
}

#items {
  margin: 15px 15px 0px 15px;
}
#items .first-cell, #items table th:first-child, #items table td:first-child {
  width: 40px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
#items table {
  border-collapse: separate;
  width: 100%;
}
#items table th {
  font-weight: bold;
  padding: 5px 8px;
  text-align: center;
  background: #3c5a99;
  color: white;
  text-transform: uppercase;
}
#items table th:nth-child(2) {
  width: 30%;
  text-align: left;
}
#items table th:last-child {
  text-align: center;
}
#items table td {
  text-align:  center;
  padding: 9px 8px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}
#items table td:nth-child(2) {
  text-align: left;
}

#sums {
  margin: 15px 15px 0 15px;
}
#sums table {
  float: right;
}
#sums table tr th, #sums table tr td {
  min-width: 100px;
  padding: 9px 8px;
  text-align: right;
}
#sums table tr th {
  font-weight: bold;
  text-align: left;
  padding-right: 35px;
  border: 0;
}
#sums table tr td.last {
  min-width: 0 !important;
  max-width: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  border: none !important;
}
#sums table tr.amount-total th {
  text-transform: uppercase;
}
#sums table tr.amount-total th, #sums table tr.amount-total td {
  font-size: 15px;
  font-weight: bold;
}
#sums table tr:last-child th {
  text-transform: uppercase;
}
#sums table tr:last-child th, #sums table tr:last-child td {
  font-size: 15px;
  font-weight: bold;
  color: #2f2121;
  z-index: 2;
}

#invoice-info {
  float: left;
  margin: 15px 0px 0 40px;
}
#invoice-info > div > span {
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  margin-bottom: 3px;
}
#invoice-info > div > span:first-child {
  color: black;
}
#invoice-info > div > span:last-child {
  color: #3c5a99;
}
#invoice-info:after {
  content: '';
  display: block;
  clear: both;
}

#terms {
  float: left;
  /* margin-top: 50px; */
  width: 100%;
}
#terms .notes {
  min-height: 30px;
  min-width: 100%;
  color: #4c6eb4;
  text-align:  center;
  width: 100%;
  font-weight: bold;
}
#terms .payment-info div {
  margin-bottom: 3px;
  min-width: 20px;
}

.thank-you {
  margin: 10px 0 30px 0;
  display: inline-block;
  min-width: 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.88em;
  float: right;
  padding: 0px 30px 0px 2px;
  font-size: 50px;
  background: #4c6eb4;
  color: white;
}

.ib_bottom_row_commands {
  margin-left: 30px !important;
}

#items table .invoice td.material {
    font-size: 11px;
    color: #0d91b6;
    text-indent: 18px;
}

/**
 * If the printed invoice is not looking as expected you may tune up
 * the print styles (you can use !important to override styles)
 */
@media print {
  /* Here goes your print styles */
    @page {
      size: auto;   /* auto is the initial value */
      margin: 0;  /* this affects the margin in the printer settings */
      padding:60;
  }

  
}
.refund_print_button {
    position: relative;
    bottom: 63px;
    left: 40px;
}