.revenue {
    padding: 0px;
    background:#3c5a99;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align:  center;
    color: #333;
    display:  inline-block;
}

.revenue_title {
    font-size: 20px;
    background: #3c5a99;
    padding: 5px;
    color: #fff;
}

.revenue_icon {
    font-size: 50px;
    background: #fff;
    padding: 10px 0;
}

.revenue_date {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    font-weight: bold;
}

.revenue_amount {
    background: #fff;
    font-size: 30px;
    padding: 0px 0 10px;
}