.panel-default>.panel-heading{
	background-color: #fff !important;
}

.container-fluid i.icon {
    font-size: 50px;  
    color:#333;
}

span.glyphicon {
    font-size: 50px;  
    color:#333;
}

hr{
	border-top-color: #eae5e5 !important;
}

.main{
	background: #fff;
	text-align: center;
	height: 200px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 30px;
	border-radius: 4px;
}


.main:hover,.main:hover span,.main:hover i{
	
	color:#5674b3;
	transition: .1s all;
}

.main .title{
	color:#333;
	font-weight: 600;
	padding: 20px 0 0;
}

.main .item{
	color:#333;
	font-size: 16px;
}


.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.rowDetail{
	background: #3C5A99;
}

.rowDetail a:hover .detail{
	background: #5674b3;
	transition: .1s all;
}

.detail{
	    padding: 20px 15px;
	  	border-right: 1px solid #9dabca;
	    color:#fff;
}

.no_border{
	border-right: 0;
}



strong.dashboard_setting {
    position: relative;
    cursor: pointer;
}		

strong.dashboard_setting:hover{
	opacity: 0.8;

}

.modal-open {overflow-y: auto}

#cashier .main:hover, #cashier .main:hover span, #cashier .main:hover i{
	color:#333;
}

button.btn.btn-default.dashboard_setting_save {
    width: 100%;
}