*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}


body {
  margin: 0;
  padding: 0;
}

img.logo {
    width: 30%;
    height: auto;
}

#animation_intro_step .intro {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#animation_intro_step .intro .animated-bar {
  width: 0;
  height: 3px;
  background: #fff;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bar 5s 3 linear;
          animation: bar 5s 3 linear;
}
#animation_intro_step .intro .slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ef9a73;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  overflow: hidden;
}
#animation_intro_step .intro .slide.slide-a {
  background: #4365ab;
  z-index: 400;
}
#animation_intro_step .intro .slide.slide-a .slide-a-child {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  transition: all 1s;
}
#animation_intro_step .intro .slide.slide-a .slide-a-child.is-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
#animation_intro_step .intro .slide.slide-a p {
  font-size: 25px;
}
#animation_intro_step .intro .slide.slide-b {
  background: #e28358;
  z-index: 300;
}
#animation_intro_step .intro .slide.slide-b h2 {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
#animation_intro_step .intro .slide.slide-b p:first-of-type {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  margin-bottom: 20px;
}
#animation_intro_step .intro .slide.slide-b p:last-of-type {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
#animation_intro_step .intro .slide.slide-b .slide-b-child {
  transition: all 1s;
  opacity: 0;
}
#animation_intro_step .intro .slide.slide-b .slide-b-child.is-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
#animation_intro_step .intro .slide.slide-c {
  background: #4365ab;
  z-index: 200;
}
#animation_intro_step .intro .slide.slide-c .slide-c-child {
  transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}
#animation_intro_step .intro .slide.slide-c .slide-c-child.is-visible {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
#animation_intro_step .intro .slide.slide-d {
  background: #e28358;
  z-index: 100;
}
#animation_intro_step .intro .slide.slide-d .slide-d-child {
  transition: all .3s;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
#animation_intro_step .intro .slide.slide-d .slide-d-child.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


#animation_intro_step .intro .slide.slide-d button.slide-d-child {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#animation_intro_step .intro .slide .slide-content {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
#animation_intro_step .intro .slide .slide-content h1 {
  font-size: 70px;
  font-weight: 400;
  margin: 20px 0;
}
#animation_intro_step .intro .slide .slide-content h2 {
  font-size: 60px;
  font-weight: 400;
  margin: 20px 0;
}
#animation_intro_step .intro .slide .slide-content p {
  font-size: 25px;
  font-weight: 300;
}
#animation_intro_step .intro .slide .slide-content p a {
  color: #b6483d;
  text-decoration: none;
  position: relative;
}

#animation_intro_step .intro .slide .slide-content p a:hover {
    cursor:  pointer;
}

#animation_intro_step .intro .slide .slide-content p a:hover::after {
  width: 180px;
}
#animation_intro_step .intro .slide .slide-content p a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #b6483d;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.5s;
}
#animation_intro_step .intro .slide .slide-content ul li {
  display: block;
}
#animation_intro_step .intro .slide .slide-content ul li p {
  position: relative;
  text-align: left;
  padding: 0 20%;
}
#animation_intro_step .intro .slide .slide-content ul li p::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  display: inline-block;
  margin: 0 20px;
  border-radius: 50%;
}
#animation_intro_step .intro .slide .slide-content ul li:last-of-type p::after {
  display: none;
}
#animation_intro_step .intro .slide .slide-content button {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border: none;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background: #CC584C;
  margin-top: 30px;
  border: 2px solid transparent;
  transition: all 0.5;
  cursor: pointer;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s;
}
#animation_intro_step .intro .slide .slide-content button:hover {
  background: none;
  border: 2px solid #CC584C;
  color: #b6483d;
}

.bottom_page {
    position:  absolute;
    bottom: 2%;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.bottom_page:hover{
  opacity:0.7;
}

.create_resturant{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.have_tax_container {
    padding:7px 15px;
}


@-webkit-keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 45px !important;
  }

  p {
    font-size: 22px !important;
  }
  p a:hover::after {
    width: 160px !important;
  }

  ul{
    -webkit-padding-start:0;
  }

  .replay {
    bottom: 5%;
  }

  #animation_intro_step .intro .slide .slide-content ul li p {
    padding: 0;
  }

  #animation_intro_step .intro .slide .slide-content {
  margin-top: -50px;
  }

  .col-xs-12.configuration_block{
    width: 70% !important;
    float: right;
  }

  a .tabs {
    margin-bottom: 1vw;
    font-size: 13px;
    width: 15%;
    }

  .logout{
    width: 16% !important;
  }

  .left_navbar .tabs,.left_navbar .logout{
    width: 100% !important;
  }

}
@media (max-width: 768px) {
  .slide-c-child {
    display: block !important;
  }

  p::after {
    display: none !important;
  }

  button.create_resturant {
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
    font-size: 14px !important;
  }


  a:hover::after {
    width: 140px !important;
  }

  #animation_intro_step .intro .slide .slide-content {
  margin-top: -100px;
  }

  .wrap_container{
    margin: 2% 2% !important;
  }

  .left_navbar{
    padding-right: 0 !important;
    width: 26%;
  }



  
}
@media (max-width: 480px) {
  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 33px !important;
  }

  p {
    font-size: 18px !important;
  }
  p a:hover::after {
    width: 130px !important;
  }

  .replay {
    bottom: 8%;
  }


  #animation_intro_step .intro .slide .slide-content {
  margin-top: -200px;
  }

  .page_title{
    width: 62.666667% !important;
  }

  .left_navbar{
    padding-right: 0 !important;
    width: 27%;
  }


  
}
