.select2-dropdown {z-index: 9999 !important}

    .bootstrap-timepicker-minute,.bootstrap-timepicker-hour,.bootstrap-timepicker-meridian,.bootstrap-timepicker-second {
        width:50px !important;
    }

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }   

    .datepicker{z-index:1151 !important;}

    .sidebar-menu .treeview-menu>li>a {
        padding:5px 5px 5px 25px;
    }
    .form-tab li a:hover {
        background: #eeeeee !important;
    }
    .form-tab li a.selected {
        background: #3c8dbc !important;
        color:#ffffff !important;
    }
    .alert_floating {
        bottom:10px;
        right:10px;
        position: fixed;
        z-index:1001;
        background: rgba(255, 140, 127, 0.7);
        color:#222222;
        font-weight: bold;
        padding:20px 50px 20px 50px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #aaaaaa;
    }

    #table_dashboard {
        font-size: 12px;
    }

    

    .login-box-body {
      box-shadow: 0px 0px 25px #999999;
    }


    body#configuration_page {
        background-color: #ecf0f5;
    }

    .logout {
        padding: 15px;
        background: #CD5C5C;
        width: 24%;
        float: right;
        text-align:  center;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: #fff;
        cursor: pointer;
        height: 68px;
        margin: 20px 0;
    }

    .logout:hover{
        opacity:0.9;
    }

    .logout:focus:active{
        background:#ad4040
    }


    .row.page_data {
        margin-left:  0;
        margin-right: 0;
    }

    .page {
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        float:right;
    }

    .page_title{
        font-weight:  bold;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin: 20px 0;
        text-align:  center;
        font-size: 20px;
        text-transform: uppercase;
    }

    .block_title{
        text-align: left;
        margin-bottom: 10px;
        padding: 10px;
        background: #61aade;
        color: #fff;
        border-bottom: 2px solid #69a3cc;
    }

    .icon_title {
        margin-right: 10px;
    }