select[disabled] { background-color: grey; }

table{
	border:2px solid #ccc !important;
	text-align: center;
}

.table-bordered{
	border:2px solid #ccc !important;
}

.table.table-bordered .title {
    background-color: #4d585d;
    color: #fff;
}

table th,table td{
	text-align: center;
	border-color: #ccc !important;
}

table.table-bordered th:last-child, table.table-bordered td:last-child
{
	display: table-cell !important;
}

.tableNumber{
	background: #fff;
	text-align: center;
	padding: 20px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 10px;
	margin-right: 20px;
	z-index: 1;
	color:#333;

}

.vip{
	background: rgba(241, 207, 25, 0.49);
	text-align: center;
	padding: 20px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 10px;
	margin-right: 20px;
	z-index: 1;
	color:#333;

}

.normal{
	background: #e7ecf3;
	text-align: center;
	padding: 20px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 10px;
	margin-right: 20px;
	z-index: 1;
	color:#333;

}

.tableNumber:hover,.vip:hover,.normal:hover{
	opacity: 0.7;
}


/* Outer */
.popup {
width:100%;
height:100%;
display:none;
position:fixed;
top:0px;
left:0px;
background: rgba(77, 88, 93, 0.5);
z-index: 2;
}
/* Inner */
.popup-inner {
max-width:700px;
width:90%;
padding:40px;
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
border-radius:3px;
background:#fff;
}
/* Close Button */
.popup-close {
width:30px;
height:30px;
padding-top:4px;
display:inline-block;
position:absolute;
top:0px;
right:0px;
transition:ease 0.25s all;
-webkit-transform:translate(50%, -50%);
transform:translate(50%, -50%);
border-radius:1000px;
background:#fff;
font-family:Arial, Sans-Serif;
font-size:20px;
text-align:center;
line-height:100%;
color:#ad4c4c;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
cursor: pointer;

}
.popup-close:hover {
background:#ad4c4c;
text-decoration:none;
color:#fff;

}

.remove_table{
	width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: relative;
    right: 30px;
    transition: ease 0.25s all;
    -webkit-transform: translate(200%, 60%);
    transform: translate(200%, 60%);
    border-radius: 1000px;
    background: #fff;
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #ad4c4c;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.remove_table:hover{
	background:#ad4c4c;
text-decoration:none;
color:#fff;
}

.table_merge_item
{
	width: 50%;
    display: inline-block;
    margin: auto;
}



.sortable-list {
	list-style: none;
	margin: 0;
	padding: 15%;
}
.sortable-item {
	background-color: #FFF;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 20px 0;
	text-align: center;
	color:#fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	height: 58px;
	margin-bottom: 5px;
}

p.go_back{
	margin-bottom: 30px;
}

.table_id,.choose_id{
	margin-bottom: 20px;
}